.hero {
  background-image: url(../public/Picture.webp);
  width: 100%;
  height: 997px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
}

.heroh {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 60px;
  line-height: 120%;
  text-align: center;
  color: var(--white);
}

.herop {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  color: var(--white);
  margin-top: 12px;
}

.herobutton {
  text-decoration: none;
  display: block;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: var(--white);
  border-radius: 12px;
  padding: 12px 88px;
  width: 276px;
  height: 44px;
  background: var(--button);
  margin: 40px auto 0;
}

.link {
  text-decoration: none;
}

.content {
  position: absolute;
  top: 75%;
  left: 55%;
  transform: translate(-50%, -50%);
}
