.hero {
  width: 100%;
  height: calc(100vh - 68px);

  background-image: url("../public/Picture.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 436px;
}

.content {
  text-align: center;
  max-width: 783px;
  width: 100%;
}

.heroh {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
  color: var(--white);
}

.herop {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--white);
  margin-top: 12px;
}

.herobutton {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  margin-top: 40px;
  width: 276px;
  height: 44px;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: var(--white);

  background: var(--button);
  border-radius: 12px;
  cursor: pointer;
}

.link {
  text-decoration: none;
}
