.page {
  max-width: 1180px;
  margin: 60px auto;
  display: grid;
  grid-template-columns: 620px 1fr;
  gap: 48px;
}

/* LEFT COLUMN */
.left {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* IMAGE */
.image {
  width: 100%;
  height: auto;
  border-radius: 14px;
  object-fit: cover;
}

/* RIGHT COLUMN */
.right {
  display: flex;
  flex-direction: column;
}

/* TITLE */
.title {
  color: black;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 8px;
}

.id {
  font-size: 14px;
  color: #8a8a8a;
  font-weight: 400;
  margin-left: 8px;
}

/* META */
.meta {
  display: flex;
  gap: 16px;
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 12px;
  align-items: baseline;
}

/* PRICE */
.price {
  font-size: 24px;
  font-weight: 600;
  color: #3470ff;
  margin: 8px 0 16px;
}

/* DESCRIPTION */
.description {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
  margin-bottom: 50px;
}

/* SECTIONS */
.section {
  margin-bottom: 24px;
  margin-top: 16px;
  align-items: center;
}

.section h3 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
  list-style: none;
}

.list li {
  display: flex;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
  align-items: center;
}

.front {
  color: black;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.svgd {
  margin-right: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
