.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

.loadMoreButton {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  height: 44px;
  width: 156px;
  color: var(--main);
  background-color: #ffffff;
  border: 1px solid var(--button);
  border-radius: 12px;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

.loadMoreButton:hover {
  background-color: var(--button);
  color: #ffffff;
}
